<!DOCTYPE html>
<html>
  <head>
    <title>Puzzle Result</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1><%= correct ? 'Correct!' : 'Incorrect!' %></h1>
    <a href="/puzzle?date=<%= date %>">Back to Puzzle</a>
  </body>
</html>
